__include/*
compile_flags.txt
rom/*
*.z64
*.sh
z64rom
!z64rom.c
!*/z64ro*
*.cfg
prvFileList
*.lnk
*.wav
*.7z
*.exe
bin/*
test/*
!project/patches/*
z64rom_*
project/!tools/novl
project/tools/elf2ld
!project/tools/z64audio.cfg
bin/
project/tools/z64audio
project/tools/novl
!project/**/*.cfg
project/tools/cofi
project/tools/depper
project/tools/z64convert
