__include/*
compile_flags.txt
rom/*
*.z64
*.sh
prvFileList
*.lnk
*.wav
*.7z
*.exe
bin/*
test/*
!project/patches/*
app_*
bin/
project/tools/cofi
project/tools/depper
project/tools/z64convert
project/tools/z64audio
project/tools/novl
project/tools/elf2ld
!tools/*.7z
!project/tools/seq64_console.exe
!project/tools/gzinject.exe
*.zip
*.o
.*/
project/tools/seqas
!project/tools/wget.exe
project/tools/z64playas
settings.mk
!setup.sh
ExtLib/
project/tools/n64log.py
project/tools/z64upgrade
project/tools/n64log.js
._*
!project/.vscode
!project/compile_flags.txt
test_package
