__include/*
compile_flags.txt
rom/*
*.z64
*.sh
!z64rom.c
prvFileList
*.lnk
*.wav
*.7z
*.exe
bin/*
test/*
!project/patches/*
app_*
bin/
project/tools/cofi
project/tools/depper
project/tools/z64convert
project/tools/z64audio
project/tools/novl
project/tools/elf2ld
!tools/*.7z
project/tools/z64compress
*.zip
*.o
