# # Patch rom header  # # # # # # # # # # # # # # # # # # # # # # # # #
#   More info about header in https://n64brew.dev/wiki/ROM_Header     #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# clear rom name before patching new name
0x20 = 0x00000000 0x00000000 0x00000000 0x00000000 0x00000000 0x00000000 0x000000

# max 20 characters
0x20 = "z64romhack"

# Media Format
0x3B = "C"
# Game ID
0x3C = "ZL"
# Region
0x3E = "E"
# Revision
0x3F = 0x00
