"*":
  core:
    ignoredNames: [
      ".git"
      
      # Hide non-repo files
      "*.sh"
      "*.z64"
      
      # Hide submodules
      "nOVL"
      "z64audio"
      "z64convert"
      "z64compress"
      
      # Hide build folder
      "bin"
      
      # Hide readme folder from tree-view
      "readme"
    ]